body {
  font-family: Arial, sans-serif;
  background-color: linear-gradient(135deg, #a3d18a, #8bc34a);
  margin: 0px;
  padding: 0px;
}

.container {
  width: 420px;
  margin: 80px auto;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

h1 {
  text-align: center;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  color: #555;
  margin-bottom: 20px;
}

.form {
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  padding: 10px 14px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  justify-content: space-between;
  background-color: #f4f6f9;
}

.task-list a {
  text-decoration: none;
  color: red;
  font-size: 18px;
}
